{{ define "main" }}
<div class="container">
    <h1>All posts for {{ .Type | singularize }} "{{ .Title }}"</h1>
    </br>
        {{ range .Data.Pages }}
            <div class="post-entry">
                <a href="{{ .Permalink }}">
                    <div style="display:flex;flex-direction:row; justify-content: space-between;">
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Date | time.Format ":date_medium" }}</p>
                    </div>
                    </br>
                    <p>{{ .Summary }}</p>
                </a>
            </div>
        {{ end }}
</div>
{{ end}}